job:
  name: s2flow_sr_inf
  type: sr_inference
  log_dir: ./logs/
  out_dir: ./runs/
  cudnn_deterministic: False 

sr_model:
  model_type: unet
  sample_size: 256
  in_channels: 8
  out_channels: 4
  block_out_channels: [64, 128, 256, 512]
  down_block_types: ['DownBlock2D', 'DownBlock2D', 'DownBlock2D', 'DownBlock2D']
  up_block_types: ['UpBlock2D', 'UpBlock2D', 'UpBlock2D', 'UpBlock2D']
  layers_per_block: 2
  norm_num_groups: 32
  time_embedding_type: positional
  pretrained_weights: 'runs/s2flow_sr_train/model.pt' # Necessary for inference

# A note on simple inference: for simplicity we assume that the input pdata
# has already been resampled to the desired resolution. The reason for this is
# that resampling for the land cover training data was done using reproject_match
# to ensure approximate alignment between S2, NAIP, and the LC labels.
data:
  data_root_path: ./data/cpb_lc/sentinel2
  glob_pattern: '*.tif'
  out_root_path: ./data/cpb_lc/sentinel2_sr_steps_10
  
hyperparameters:
  micro_batch_size: 64

sampling:
  num_steps: 10
  solver: euler